In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read and upload dataset to dataframe

df= pd.read_csv('Retail_Transaction_Dataset.csv')
df.head()

,CustomerID,ProductID,Quantity,Price,TransactionDate,PaymentMethod,StoreLocation,ProductCategory,DiscountApplied(%),TotalAmount
0,109318,C,7,80.079844,12/26/2023 12:32,Cash,"176 Andrew Cliffs\nBaileyfort, HI 93354",Books,18.677100,455.862764
1,993229,C,4,75.195229,8/05/2023 0:00,Cash,"11635 William Well Suite 809\nEast Kara, MT 19483",Home Decor,14.121365,258.306546
2,579675,A,8,31.528816,3/11/2024 18:51,Cash,"910 Mendez Ville Suite 909\nPort Lauraland, MO...",Books,15.943701,212.015651
3,799826,D,5,98.880218,10/27/2023 22:00,PayPal,"87522 Sharon Corners Suite 500\nLake Tammy, MO...",Books,6.686337,461.343769
4,121413,A,7,93.188512,12/22/2023 11:38,Cash,"0070 Michelle Island Suite 143\nHoland, VA 80142",Electronics,4.030096,626.030484

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100011 entries, 0 to 100010
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CustomerID          100011 non-null  int64
 1   ProductID           100011 non-null  object
 2   Quantity            100011 non-null  int64
 3   Price               100011 non-null  float64
 4   TransactionDate     100011 non-null  object
 5   PaymentMethod       100011 non-null  object
 6   StoreLocation       100011 non-null  object
 7   ProductCategory     100011 non-null  object
 8   DiscountApplied(%)  100011 non-null  float64
 9   TotalAmount         99998 non-null   float64
dtypes: float64(3), int64(2), object(5)
memory usage: 7.6+ MB

In [4]:
df.shape

(100011, 10)

In [5]:
df.describe()

,CustomerID,Quantity,Price,DiscountApplied(%),TotalAmount
count,100011.000000,100011.000000,100011.000000,100011.000000,99998.000000
mean,500462.589475,5.009319,55.067026,10.019943,248.341157
std,288463.613231,2.579777,25.971700,5.779570,184.557158
min,14.000000,1.000000,10.000430,0.000046,8.274825
25%,250692.500000,3.000000,32.547340,5.000812,95.168114
50%,499681.000000,5.000000,55.115420,10.029934,200.368393
75%,751100.500000,7.000000,77.457197,15.018285,362.020935
max,999997.000000,9.000000,99.999284,19.999585,896.141242

In [6]:
# Check any duplicate

df.duplicated().sum()

10

In [7]:
# Drop the duplicate values

df.drop_duplicates(inplace=True)

In [8]:
# Check missing values

df.isnull().sum()

CustomerID             0
ProductID              0
Quantity               0
Price                  0
TransactionDate        0
PaymentMethod          0
StoreLocation          0
ProductCategory        0
DiscountApplied(%)     0
TotalAmount           13
dtype: int64

In [9]:
# Replace missing values in TotalAmount as per the formula
# Calculate missing TotalAmounts using the formula TotalAmount = Quantity * Price * (100 - DiscountApplied_Percent) / 100
df['TotalAmount'] = df.apply(
    lambda row: row['Quantity'] * row['Price'] * (100 - row['DiscountApplied(%)']) / 100 
    if pd.isnull(row['TotalAmount']) else row['TotalAmount'],
    axis=1
)

In [10]:
# Convert 'Transaction_Date' to datetime format
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'], errors='coerce')

In [11]:
df.dtypes

CustomerID                     int64
ProductID                     object
Quantity                       int64
Price                        float64
TransactionDate       datetime64[ns]
PaymentMethod                 object
StoreLocation                 object
ProductCategory               object
DiscountApplied(%)           float64
TotalAmount                  float64
dtype: object

In [12]:
# Display the initial rows of the resulting tidy dataset

df.head()

,CustomerID,ProductID,Quantity,Price,TransactionDate,PaymentMethod,StoreLocation,ProductCategory,DiscountApplied(%),TotalAmount
0,109318,C,7,80.079844,2023-12-26 12:32:00,Cash,"176 Andrew Cliffs\nBaileyfort, HI 93354",Books,18.677100,455.862764
1,993229,C,4,75.195229,2023-08-05 00:00:00,Cash,"11635 William Well Suite 809\nEast Kara, MT 19483",Home Decor,14.121365,258.306546
2,579675,A,8,31.528816,2024-03-11 18:51:00,Cash,"910 Mendez Ville Suite 909\nPort Lauraland, MO...",Books,15.943701,212.015651
3,799826,D,5,98.880218,2023-10-27 22:00:00,PayPal,"87522 Sharon Corners Suite 500\nLake Tammy, MO...",Books,6.686337,461.343769
4,121413,A,7,93.188512,2023-12-22 11:38:00,Cash,"0070 Michelle Island Suite 143\nHoland, VA 80142",Electronics,4.030096,626.030484

In [13]:
# Filter by Product Category:

filtered_books = df[df['ProductCategory'] == 'Books']
print("Filtered by Product Category ('Books'):\n")
filtered_books.head()

Filtered by Product Category ('Books'):

,CustomerID,ProductID,Quantity,Price,TransactionDate,PaymentMethod,StoreLocation,ProductCategory,DiscountApplied(%),TotalAmount
0,109318,C,7,80.079844,2023-12-26 12:32:00,Cash,"176 Andrew Cliffs\nBaileyfort, HI 93354",Books,18.677100,455.862764
2,579675,A,8,31.528816,2024-03-11 18:51:00,Cash,"910 Mendez Ville Suite 909\nPort Lauraland, MO...",Books,15.943701,212.015651
3,799826,D,5,98.880218,2023-10-27 22:00:00,PayPal,"87522 Sharon Corners Suite 500\nLake Tammy, MO...",Books,6.686337,461.343769
9,184135,D,4,63.342777,2023-11-05 01:46:00,Debit Card,"189 Wright Mews\nMartinfurt, MO 75932",Books,7.640607,234.012018
10,266491,C,8,98.792726,2023-09-25 04:38:00,Debit Card,"388 Matthew Lane Apt. 592\nWest Andreachester,...",Books,14.174953,678.311227

In [14]:
# Filter by Quantity Greater Than a Specific Value: 

# Quantity >= 5

filtered_quantity = df[df['Quantity'] >= 5]
print("\nFiltered by Quantity >= 5:\n")

filtered_quantity.head()

Filtered by Quantity >= 5:

,CustomerID,ProductID,Quantity,Price,TransactionDate,PaymentMethod,StoreLocation,ProductCategory,DiscountApplied(%),TotalAmount
0,109318,C,7,80.079844,2023-12-26 12:32:00,Cash,"176 Andrew Cliffs\nBaileyfort, HI 93354",Books,18.677100,455.862764
2,579675,A,8,31.528816,2024-03-11 18:51:00,Cash,"910 Mendez Ville Suite 909\nPort Lauraland, MO...",Books,15.943701,212.015651
3,799826,D,5,98.880218,2023-10-27 22:00:00,PayPal,"87522 Sharon Corners Suite 500\nLake Tammy, MO...",Books,6.686337,461.343769
4,121413,A,7,93.188512,2023-12-22 11:38:00,Cash,"0070 Michelle Island Suite 143\nHoland, VA 80142",Electronics,4.030096,626.030484
6,888163,D,7,13.121937,2023-12-26 05:32:00,PayPal,USNV Harrell\nFPO AA 62814,Clothing,16.295127,76.885907

In [15]:
# Filter by Payment method = Cash: 

filtered_Payment_method = df[df['PaymentMethod'] == 'Cash']
print("\nFiltered by Cash Payment :\n")

filtered_Payment_method.head()

Filtered by Cash Payment :

,CustomerID,ProductID,Quantity,Price,TransactionDate,PaymentMethod,StoreLocation,ProductCategory,DiscountApplied(%),TotalAmount
0,109318,C,7,80.079844,2023-12-26 12:32:00,Cash,"176 Andrew Cliffs\nBaileyfort, HI 93354",Books,18.677100,455.862764
1,993229,C,4,75.195229,2023-08-05 00:00:00,Cash,"11635 William Well Suite 809\nEast Kara, MT 19483",Home Decor,14.121365,258.306546
2,579675,A,8,31.528816,2024-03-11 18:51:00,Cash,"910 Mendez Ville Suite 909\nPort Lauraland, MO...",Books,15.943701,212.015651
4,121413,A,7,93.188512,2023-12-22 11:38:00,Cash,"0070 Michelle Island Suite 143\nHoland, VA 80142",Electronics,4.030096,626.030484
5,463050,D,3,54.093152,2023-08-15 04:24:00,Cash,"8492 Jonathan Drive\nNorth Robertshire, TN 67532",Electronics,10.888768,144.609223

In [16]:
df.to_csv('cleaned_transactions.csv', index=False)

In [17]:
import pandas as pd
from pymongo import MongoClient

# Convert DataFrame to dictionary format
data_dict = df.to_dict(orient='records')

# Establish a Connection with an NoSQL Database (Mongodb) 

from pymongo import MongoClient

mongo_url = "mongodb+srv://moetechwizard:MMrtan2268@cluster0.22ikixx.mongodb.net/"

client = MongoClient(mongo_url)

db = client['Retaildatabase']

collection = db['data_dict']
print("Connection to MongoDB established.")

Connection to MongoDB established.

In [18]:
# Convert DataFrame to dictionary
data = df.to_dict('records')  # Converts DataFrame to a list of dictionaries

# Insert Data into MongoDB
result = collection.insert_many(data)

# Read the dataset from a CSV file
dataset_path = 'cleaned_transactions.csv'  # Update this path to your dataset file
df = pd.read_csv(dataset_path)

# Convert DataFrame to a list of dictionaries
data = df.to_dict(orient='records')

# Insert data into MongoDB
collection.insert_many(data)

print("Dataset imported into MongoDB collection.")

Dataset imported into MongoDB collection.

In [19]:
# Retrieve and Display Records or Documents from the Collection


records = collection.find().limit(5)
for rec in records:
    print(rec)

{'_id': ObjectId('66c035835e469302bf8d551c'), 'CustomerID': 79859, 'ProductID': 'B', 'Quantity': 1, 'Price': 78.61266243, 'TransactionDate': datetime.datetime(2023, 5, 28, 2, 1), 'PaymentMethod': 'PayPal', 'StoreLocation': '94943 Hoffman Fields Apt. 714\nPort Timothy, SC 48196', 'ProductCategory': 'Books', 'DiscountApplied(%)': 8.618761469, 'TotalAmount': 71.83722457}
{'_id': ObjectId('66c035835e469302bf8d551d'), 'CustomerID': 46194, 'ProductID': 'C', 'Quantity': 2, 'Price': 31.70440564, 'TransactionDate': datetime.datetime(2023, 7, 22, 20, 18), 'PaymentMethod': 'Debit Card', 'StoreLocation': '32645 Tammy Shore\nLindaburgh, OK 87763', 'ProductCategory': 'Books', 'DiscountApplied(%)': 16.98336576, 'TotalAmount': 52.63986093}
{'_id': ObjectId('66c035835e469302bf8d551e'), 'CustomerID': 790127, 'ProductID': 'D', 'Quantity': 2, 'Price': 34.30478905, 'TransactionDate': datetime.datetime(2023, 6, 18, 4, 15), 'PaymentMethod': 'Cash', 'StoreLocation': '45766 Rogers Port Apt. 235\nLongfurt, VA 62852', 'ProductCategory': 'Home Decor', 'DiscountApplied(%)': 3.547106807, 'TotalAmount': 66.17592308}
{'_id': ObjectId('66c035835e469302bf8d551f'), 'CustomerID': 474029, 'ProductID': 'A', 'Quantity': 9, 'Price': 37.82997225, 'TransactionDate': datetime.datetime(2023, 8, 6, 21, 25), 'PaymentMethod': 'Cash', 'StoreLocation': '0434 Hopkins Pine Suite 766\nJoseland, DE 21454', 'ProductCategory': 'Home Decor', 'DiscountApplied(%)': 1.406373498, 'TotalAmount': 335.6814739}
{'_id': ObjectId('66c035835e469302bf8d5520'), 'CustomerID': 790181, 'ProductID': 'B', 'Quantity': 4, 'Price': 18.34192492, 'TransactionDate': datetime.datetime(2024, 4, 28, 6, 46), 'PaymentMethod': 'Cash', 'StoreLocation': '8708 Kristen Gateway\nKarenborough, AS 62693', 'ProductCategory': 'Books', 'DiscountApplied(%)': 16.94121561, 'TotalAmount': 60.93831949}

In [20]:
# Sort the Records or Documents Based on a Given Condition
sorted_recs = collection.find().sort('ProductID', -1).limit(10)
for rec in sorted_recs:
    print(rec)

{'_id': ObjectId('66c035835e469302bf8d55d1'), 'CustomerID': 87710, 'ProductID': 'D', 'Quantity': 8, 'Price': 58.20544384, 'TransactionDate': datetime.datetime(2024, 2, 20, 7, 7), 'PaymentMethod': 'Cash', 'StoreLocation': '3986 Gross Skyway\nFreemanburgh, AS 56556', 'ProductCategory': 'Clothing', 'DiscountApplied(%)': 17.86516816, 'TotalAmount': 382.4555473}
{'_id': ObjectId('66c035835e469302bf8d55cf'), 'CustomerID': 373788, 'ProductID': 'D', 'Quantity': 2, 'Price': 14.68421998, 'TransactionDate': datetime.datetime(2023, 12, 20, 23, 0), 'PaymentMethod': 'Debit Card', 'StoreLocation': '547 Gamble Ferry\nWalshshire, IA 51183', 'ProductCategory': 'Home Decor', 'DiscountApplied(%)': 1.108700627, 'TotalAmount': 29.04283188}
{'_id': ObjectId('66c035835e469302bf8d55d7'), 'CustomerID': 590391, 'ProductID': 'D', 'Quantity': 3, 'Price': 22.8342338, 'TransactionDate': datetime.datetime(2023, 6, 20, 14, 44), 'PaymentMethod': 'Cash', 'StoreLocation': '80262 Mccormick Roads Apt. 174\nKentport, PR 42762', 'ProductCategory': 'Electronics', 'DiscountApplied(%)': 0.223281526, 'TotalAmount': 68.34974752}
{'_id': ObjectId('66c035835e469302bf8d55d3'), 'CustomerID': 311361, 'ProductID': 'D', 'Quantity': 6, 'Price': 52.01923912, 'TransactionDate': datetime.datetime(2023, 8, 18, 13, 29), 'PaymentMethod': 'PayPal', 'StoreLocation': 'PSC 7001, Box 3617\nAPO AE 68874', 'ProductCategory': 'Clothing', 'DiscountApplied(%)': 5.840186301, 'TotalAmount': 293.8873119}
{'_id': ObjectId('66c035835e469302bf8d55cc'), 'CustomerID': 60105, 'ProductID': 'D', 'Quantity': 7, 'Price': 45.74208489, 'TransactionDate': datetime.datetime(2023, 6, 10, 0, 16), 'PaymentMethod': 'PayPal', 'StoreLocation': '927 Randall Drive\nRamirezchester, MN 20412', 'ProductCategory': 'Clothing', 'DiscountApplied(%)': 0.372632462, 'TotalAmount': 319.0014453}
{'_id': ObjectId('66c035835e469302bf8d55d5'), 'CustomerID': 63380, 'ProductID': 'D', 'Quantity': 5, 'Price': 70.9011799, 'TransactionDate': datetime.datetime(2024, 1, 22, 8, 35), 'PaymentMethod': 'Credit Card', 'StoreLocation': '252 Watson Court\nWrightborough, KY 84448', 'ProductCategory': 'Clothing', 'DiscountApplied(%)': 16.85406746, 'TotalAmount': 294.757236}
{'_id': ObjectId('66c035835e469302bf8d55da'), 'CustomerID': 67675, 'ProductID': 'D', 'Quantity': 2, 'Price': 67.60666929, 'TransactionDate': datetime.datetime(2023, 12, 26, 16, 52), 'PaymentMethod': 'PayPal', 'StoreLocation': '9711 Walker Walk\nEast Jesusview, VI 85884', 'ProductCategory': 'Electronics', 'DiscountApplied(%)': 2.107596852, 'TotalAmount': 132.3635865}
{'_id': ObjectId('66c035835e469302bf8d55d9'), 'CustomerID': 769032, 'ProductID': 'D', 'Quantity': 8, 'Price': 31.02426487, 'TransactionDate': datetime.datetime(2023, 12, 4, 15, 53), 'PaymentMethod': 'Credit Card', 'StoreLocation': '491 Henry Cliffs Suite 926\nFarrellshire, MP 91144', 'ProductCategory': 'Home Decor', 'DiscountApplied(%)': 4.214389317, 'TotalAmount': 237.7342525}
{'_id': ObjectId('66c035835e469302bf8d55cd'), 'CustomerID': 936930, 'ProductID': 'D', 'Quantity': 6, 'Price': 75.36527702, 'TransactionDate': datetime.datetime(2023, 6, 18, 15, 31), 'PaymentMethod': 'PayPal', 'StoreLocation': '7129 Berry Wells\nSmithview, CA 29375', 'ProductCategory': 'Clothing', 'DiscountApplied(%)': 11.20138581, 'TotalAmount': 401.5399295}
{'_id': ObjectId('66c035835e469302bf8d55c6'), 'CustomerID': 871179, 'ProductID': 'D', 'Quantity': 5, 'Price': 50.5596694, 'TransactionDate': datetime.datetime(2023, 7, 16, 14, 44), 'PaymentMethod': 'Debit Card', 'StoreLocation': '151 Christy Corners\nJoyhaven, NJ 09123', 'ProductCategory': 'Books', 'DiscountApplied(%)': 19.48849415, 'TotalAmount': 203.5317559}

In [21]:
#Count the Number of Records or Documents Present in the Collection
# Count the number of documents
count = collection.count_documents({})
print(f"Number of documents: {count}")

Number of documents: 564006

In [22]:
# Perform Grouping Operations on Records or Documents
# Update operation
pipeline = [
    {
        "$group": {
            "_id": "$ProductID",
            "Avg_Quantity": {"$avg": "$Quantity"}
        }
    }
]

grouped_data = collection.aggregate(pipeline)
for doc in grouped_data:
    print(doc)

{'_id': 'D', 'Avg_Quantity': 5.021132940263545}
{'_id': 'A', 'Avg_Quantity': 5.015818099189304}
{'_id': 'B', 'Avg_Quantity': 5.003040175299845}
{'_id': 'C', 'Avg_Quantity': 4.996075466263412}

In [23]:
# Execute Update Operations on Records or Documents
# Update operation
query = {"CustomerID": 730875}
new_values = {"$set": {"PaymentMethod": 'Credit Card'}}

collection.update_one(query, new_values)

print("Document updated.")

Document updated.

In [59]:
# task B - task a) Export DataFrame to CSV

csv_file_path = 'My_exported_data.csv'
df.to_csv(csv_file_path, index=False)

print(f"Data exported to {csv_file_path}")

Data exported to My_exported_data.csv

In [25]:
pip install google-auth google-auth-oauthlib google-auth-httplib2 google-api-python-client google-cloud-storage

Requirement already satisfied: google-auth in c:\users\user\anaconda3\lib\site-packages (2.32.0)
Requirement already satisfied: google-auth-oauthlib in c:\users\user\anaconda3\lib\site-packages (1.2.1)
Requirement already satisfied: google-auth-httplib2 in c:\users\user\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: google-api-python-client in c:\users\user\anaconda3\lib\site-packages (2.141.0)
Requirement already satisfied: google-cloud-storage in c:\users\user\anaconda3\lib\site-packages (2.18.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from google-auth) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\user\anaconda3\lib\site-packages (from google-auth) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\user\anaconda3\lib\site-packages (from google-auth) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\user\anaconda3\lib\site-packages (from google-auth-oauthlib) (2.0.0)
Requirement already satisfied: httplib2>=0.19.0 in c:\users\user\anaconda3\lib\site-packages (from google-auth-httplib2) (0.22.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5 in c:\users\user\anaconda3\lib\site-packages (from google-api-python-client) (2.19.1)
Requirement already satisfied: uritemplate<5,>=3.0.1 in c:\users\user\anaconda3\lib\site-packages (from google-api-python-client) (4.1.1)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-storage) (2.4.1)
Requirement already satisfied: google-resumable-media>=2.7.2 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-storage) (2.7.2)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-storage) (2.31.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-storage) (1.5.0)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in c:\users\user\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (1.63.2)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0.dev0,>=3.19.5 in c:\users\user\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (5.27.2)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in c:\users\user\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (1.24.0)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\users\user\anaconda3\lib\site-packages (from httplib2>=0.19.0->google-auth-httplib2) (3.0.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\user\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth) (0.4.8)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2024.6.2)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib) (3.2.2)
Note: you may need to restart the kernel to use updated packages.

In [62]:
# import the required packages
import os
#try to connect to google cloud
from google.cloud import storage
import datetime
from pprint import pprint
import shutil

In [47]:
import os

# Set the environment variable for Google Application Credentials
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = r'gd612-project-13fa019cf96b.json'

In [48]:
storage_client = storage.Client()

In [49]:
import os

# Path to your credentials file
credentials_path = r'client_secret.json'

# Check if the file exists
if os.path.exists(credentials_path):
    print("File found!")
else:
    print("File not found. Please check the path.")

File found!

In [50]:
from google.cloud import storage
import datetime

# Initialize a storage client
storage_client = storage.Client()

# Generate a unique bucket name with a timestamp
unique_suffix = datetime.datetime.now().strftime("%Y%m%d%H%M%S")
bucket_name = f"data_bucket_{unique_suffix}"

# Create a new bucket object with settings
bucket = storage_client.bucket(bucket_name)
bucket.storage_class = 'COLDLINE'  # Choose storage class: Archive | Nearline | Standard
bucket.location = 'US'  # Choose location: US | Taiwan

# Create the bucket and retrieve the bucket object
bucket = storage_client.create_bucket(bucket)

# Output the unique bucket name
print(f"Bucket created with name: {bucket_name}")

C:\Users\User\AppData\Local\Temp\ipykernel_11640\2077461793.py:14: DeprecationWarning: Assignment to 'Bucket.location' is deprecated, as it is only valid before the bucket is created. Instead, pass the location to `Bucket.create`.
  bucket.location = 'US'  # Choose location: US | Taiwan

Bucket created with name: data_bucket_20240817195817

In [51]:
pprint(vars(bucket))

{'_acl': <google.cloud.storage.acl.BucketACL object at 0x0000021C4312F8D0>,
 '_changes': set(),
 '_client': <google.cloud.storage.client.Client object at 0x0000021C4312FFD0>,
 '_default_object_acl': <google.cloud.storage.acl.DefaultObjectACL object at 0x0000021C4312F710>,
 '_label_removals': set(),
 '_properties': {'etag': 'CAE=',
                 'iamConfiguration': {'bucketPolicyOnly': {'enabled': False},
                                      'publicAccessPrevention': 'inherited',
                                      'uniformBucketLevelAccess': {'enabled': False}},
                 'id': 'data_bucket_20240817195817',
                 'kind': 'storage#bucket',
                 'location': 'US',
                 'locationType': 'multi-region',
                 'metageneration': '1',
                 'name': 'data_bucket_20240817195817',
                 'projectNumber': '863515080309',
                 'rpo': 'DEFAULT',
                 'selfLink': 'https://www.googleapis.com/storage/v1/b/data_bucket_20240817195817',
                 'softDeletePolicy': {'effectiveTime': '2024-08-17T07:58:20.507Z',
                                      'retentionDurationSeconds': '604800'},
                 'storageClass': 'COLDLINE',
                 'timeCreated': '2024-08-17T07:58:20.507Z',
                 'updated': '2024-08-17T07:58:20.507Z'},
 '_user_project': None,
 'name': 'data_bucket_20240817195817'}

In [53]:
bucket.name

'data_bucket_20240817195817'

In [54]:
"""
Get Bucket / Print Bucket Detail
"""
my_bucket = storage_client.get_bucket(bucket_name)
pprint(vars(my_bucket))

{'_acl': <google.cloud.storage.acl.BucketACL object at 0x0000021C46DED250>,
 '_changes': set(),
 '_client': <google.cloud.storage.client.Client object at 0x0000021C4312FFD0>,
 '_default_object_acl': <google.cloud.storage.acl.DefaultObjectACL object at 0x0000021C46DEE150>,
 '_label_removals': set(),
 '_properties': {'etag': 'CAE=',
                 'iamConfiguration': {'bucketPolicyOnly': {'enabled': False},
                                      'publicAccessPrevention': 'inherited',
                                      'uniformBucketLevelAccess': {'enabled': False}},
                 'id': 'data_bucket_20240817195817',
                 'kind': 'storage#bucket',
                 'location': 'US',
                 'locationType': 'multi-region',
                 'metageneration': '1',
                 'name': 'data_bucket_20240817195817',
                 'projectNumber': '863515080309',
                 'rpo': 'DEFAULT',
                 'selfLink': 'https://www.googleapis.com/storage/v1/b/data_bucket_20240817195817',
                 'softDeletePolicy': {'effectiveTime': '2024-08-17T07:58:20.507Z',
                                      'retentionDurationSeconds': '604800'},
                 'storageClass': 'COLDLINE',
                 'timeCreated': '2024-08-17T07:58:20.507Z',
                 'updated': '2024-08-17T07:58:20.507Z'},
 '_user_project': None,
 'name': 'data_bucket_20240817195817'}

In [55]:
"""
Upload Files
"""
from google.cloud import storage

# Initialize a Google Cloud Storage client
client = storage.Client()
bucket_name = 'data_bucket_20240817195817'
bucket = client.get_bucket(bucket_name)

# Upload the file
blob = bucket.blob('My_exported_data.csv')
blob.upload_from_filename('My_exported_data.csv')

print("File uploaded to Google Cloud Storage.")

File uploaded to Google Cloud Storage.

In [61]:
# Schedule Automated Backups of a Directory to Cloud Storage
import os
from datetime import datetime

# Get the current working directory
current_path = os.getcwd()
print("Current working directory is:", current_path)

# Specify the root directory for the destination
target_dir_root = '/content/drive/My Drive/GDDA612'

# Get the current time and generate a unique suffix
unique_suffix = datetime.now().strftime("%Y%m%d%H%M%S")
# Construct the backup directory name and path
bucket_name = f'GDDA612_BACKUP_{unique_suffix}'
backup_path = os.path.join(target_dir_root, bucket_name)

# Output the backup path for verification
print("Backup directory path is:", backup_path)

Current working directory is: C:\Users\User\GD612 - Assignment 2
Backup directory path is: /content/drive/My Drive/GDDA612\GDDA612_BACKUP_20240817202530

In [57]:
#Error Handling in Backup Script
from google.cloud import storage
from google.api_core.exceptions import GoogleAPIError

try:
    client = storage.Client()
    bucket_name = 'data_bucket_20240817195817'
    bucket = client.get_bucket(bucket_name)

    blob = bucket.blob('My_exported_data.csv')
    blob.upload_from_filename('My_exported_data.csv')
    print("File uploaded to Google Cloud Storage.")

except GoogleAPIError as e:
    print(f"Google Cloud Storage error: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

File uploaded to Google Cloud Storage.

In [58]:
#Error Handling in File Uploads
from google.cloud import storage
from google.api_core.exceptions import GoogleAPIError

try:
    client = storage.Client()
    bucket_name = 'data_bucket_20240817195256'
    bucket = client.get_bucket(bucket_name)

    blob = bucket.blob('My_exported_data.csv')
    blob.upload_from_filename('My_exported_data.csv')
    print("File uploaded to Google Cloud Storage.")

except GoogleAPIError as e:
    print(f"Google Cloud Storage error: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

File uploaded to Google Cloud Storage.